@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.button--button {
  width: 125px;
  height: 55px;
  background-color: #132152;
  color: #ffffff;
  display: block;
  margin-left: auto;
  margin-right: 50px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.button--button:hover {
  background-color: #434f7a;
}
